    :root {
        --cor-Top: #ffffff;
        --cor-fundo: #f6faef;
        --cor-destaque: #ff6600;
        --cor-texto: #353535;
        --cor-secundaria: #dadada;
        --verdeprimario: #90ff8c;
        --espacamento: 1rem;
        --pagamento: #00FF00;
        --corh1: #9e9e9e;
        --botverde: #32b132cb;
    }

    /* cores topo e fundo */
    .fundoTop {
        background-color: var(--cor-Top);
        border-bottom: 1px solid #b6b5b58a;
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
        
    }

    h1 {
        padding-top: 30px;
        font-size: 2rem;
        /* text-align: center; */
        transform: translateX(20%);
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        color: var(--corh1);
        font-weight: bold;
    }

    h4 {
        /* text-align: center; */
        transform: translateX(20%);
        font-family: Arial, Helvetica, sans-serif;
        color: #808080;
    }

    body {
        background-color: var(--cor-fundo);
    }

    .espacoTopo {
        padding-top: 70px;
        transform: translateX(21%);
    }

    .logBord {
        border-radius: 10px;
    }

    #corLog {
        /* color: linear-gradient(180deg, #00FF00, #ff6600); */
        background-image: linear-gradient(to right, #c1d3d0, #90ff8c);
        /* Exemplo de gradiente */

        /* Recorta o background para o formato do texto (webkit- prefix é necessário para compatibilidade) */
        -webkit-background-clip: text;
        background-clip: text;

        /* Define a cor do texto como transparente para que o background seja visível */
        -webkit-text-fill-color: transparent;
        color: transparent;
        /* Fallback para navegadores que não suportam -webkit-text-fill-color */

        /* Opcional: Garante que o span se comporte bem com o gradiente */
        display: inline-block;
    }


    /* Card Grupo */

    .card_Group {
        display: flex;
        flex-wrap: wrap;
        /* list-style: none; */
        /* padding: 0; */
        justify-content: space-evenly;
        align-content: center;
        /* flex-direction: column; */
        /* margin:10px 10px 10px 10px; */
        /* gap: 10px; */
        margin-top: 10px;
        height: 100vh;
        margin: 0px 300px 0px 300px;
        transform: translateY(-30%);
        gap: 20px;
        padding-top: 30px;
    }

    .SairBot {
        float: right;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--botverde);
        border-radius: 5px;
        height: 30px;
        width: 70px;
        z-index: 1;
        box-shadow: 1px 1px 1px 1px #808080;
    }

    .SairBot:hover {
        background-color: var(--verdeprimario);
        cursor: pointer;
        transition: 0.3s;
    }


    .NomBot {
        font-size: medium;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: var(--cor-fundo);
    }

    .botSair {
        float: left;
    }

    .margem1 {
        box-shadow: 1px 1px 1px 1px #808080;
        background-color: var(--cor-Top);
        margin: 10px 10px 10px 10px;
        height: 170px;
        width: 485px;
        border-radius: 10px;
        border-top: 10px solid #90ff8c;
        cursor: pointer;
        transition: transform 0.3s;
    }


    .margem1:hover {
        transform: scale(1.05);
    }


    .conteudo {
        margin: 10px 10px 10px 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #808080;
        font-size: 1rem;
        text-align: left;
        line-height: 1.5rem;
    }

    .titleName {
        color: #9c9c9c;
        /* font-family: Arial, Helvetica, sans-serif; */
        /* font-size: 1rem; */
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .CorbotCard {
        /* display: flex; */
        background-color: #90ff8c;
        float: right;
        border-radius: 5px;
        height: 60px;
        width: 60px;
        align-items: center;
    }

    .svgTam {
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        /* float: right; */
        justify-content: center;
        margin-top: 2px;
    }


    /* Roda pé */

    footer {
        margin: 10px 0 10px 0;
        color: #bfbfbf;
        text-align: center;
        background-color: var(--cor-Top);
    }

    @media(max-width:1360px) and (min-width: 841px) {
        .card_Group {
            display: flex;
            flex-wrap: wrap;
            /* list-style: none; */
            /* padding: 0; */
            justify-content: space-around;
            /* align-content: center; */
            /* flex-direction: column; */
            /* margin:10px 10px 10px 10px; */
            /* gap: 10px; */
            margin-top: 10px;
            height: 100vh;
            margin: 0px 300px 0px 350px;
            transform: translateY(0%);

        }

        .margem1 {
            box-shadow: 1px 1px 1px 1px #808080;
            background-color: var(--cor-Top);
            margin: 10px 10px 10px 10px;
            height: 150px;
            width: 300px;
            border-radius: 10px;
            border-top: 10px solid #90ff8c;
            cursor: pointer;
            transition: transform 0.3s;
        }

        .margem1:hover {
            transform: scale(1.05);
        }

    }